body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-image: url("../Images/pattern.png");
  background-size: 500px;
  background-color: #fdc029;
  margin: 0;
}

.container {
  margin: auto;
  padding-top: 220px;
  text-align: center;
  width: 100%;
  background-color: rgb(253, 193, 43, 0.9);
  height: calc(100vh - 220px);
}

a {
  color: black;
  text-decoration: none;
}

footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  color: #ccc;
  background: #333;
  padding: 8px;
  text-align: center;
}

header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  text-align: center;
  border-bottom: 3px solid black;
  background-color: #fdc029;
}

.header {
  font-family: "Bungee Shade", cursive;
  font-size: 3em;
  padding: 10px;
}

ul {
  padding: 0;
}

.menu {
  border-top: 3px solid black;
}

#home {
  border-left: 3px solid black;
}
header ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

header li {
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 1.5em;
  border-right: 3px solid black;
}

header a:hover {
  text-decoration: underline;
}
li {
  font-size: 1.25em;
  cursor: pointer;
  list-style: none;
}

.button {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  cursor: pointer;
  text-align: center;
  padding: 10px 0;
  width: 240px;
  border: 1px solid black;
  background-color: transparent;
  text-decoration: none;
  font-size: 1.25em;
  text-transform: uppercase;
  background-color: #fdc029;
  margin: 2px;
}

.button-border {
  border: 3px solid black;
  margin: 10px auto;
  width: min-content;
  background-color: #fdc029;
}

.button:hover {
  color: #fdc029;
  background-color: black;
}

.button:hover a {
  color: #fdc029;
  background-color: black;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

select,
.input {
  font-size: 1.25em;
  padding: 5px 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #fdc029;
  width: 240px;
  border: 1px solid black;
}

label {
  font-size: 1.25em;
  padding: 5px 10px;
}

.column-header {
  font-size: 2em;
  text-decoration: underline;
  font-weight: bold;
}

.table {
  display: flex;
  gap: 100px;
  justify-content: center;
}

.delete {
  color: red;
  font-size: 1.25em;
  font-weight: bold;
  cursor: pointer;
}

.details li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.details input {
  background-color: transparent;
  border: none;
}
