<footer>
  &copy;
  <span id="copyright">
    <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script>
  </span>
  Dr. Sillystringz's Factory
  <p class="attribution"><a href='https://www.freepik.com/vectors/background'>Background vector created by freepik - www.freepik.com</a></p>
</footer>